<%= form_for(@plot) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class = "field">
    First storypoint: <%= select_tag("plot[first_stp]",
      options_for_select(Storypoint.all.collect {|storypoint| [storypoint.name,storypoint.id]})) %>
    </br>

  </div>

  <div class = "field">
    <%= f.file_field :poster %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
